
cache_**
***_cache
***cache*
**cache/**
*.DS_Store
tests*
__pycache__*
*logs
*dist
*build
**build.sh
**build_lib.sh
**build_docker.sh
**run_test.sh
*test.py
*.egg-info*
*.vscode
**test
**.ipynb**
**test.sh
/.idea/
!tests